services:
  whisper-bot:
    build:
      context: ../
      dockerfile: docker/bot.Dockerfile
    container_name: whisper-bot
    restart: unless-stopped
    env_file: ../.docker.env
    ports:
      - ${DOCKER_BOT_PORT:-8081}:8081
    # command: poetry run python3 ./bot/main.py
    command: sleep infinity
    volumes:
      - ../src/bot:/opt/bot
      - ../src/scripts:/opt/scripts
    networks:
      - whisper-network
    # Поддержка NVIDIA GPU
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility

  ollama:
    image: ollama/ollama
    container_name: whisper-bot-ollama
    entrypoint: ["/bin/sh", "-c"]
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    networks:
      - whisper-network
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - OLLAMA_MODEL=${OLLAMA_MODEL:-llama3.2}
    command: ["ollama serve & sleep 5 && ollama pull ${OLLAMA_MODEL:-llama3.2} && wait"]

networks:
  whisper-network:

volumes:
  ollama_data:
