services:
  whisper-bot:
    build:
      context: ../
      dockerfile: docker/bot.Dockerfile
    container_name: whisper-bot
    restart: unless-stopped
    env_file: ../.docker.env
    ports:
      - ${DOCKER_BOT_PORT:-8081}:8081
    command: poetry run python3 ./bot/main.py
    volumes:
      - ../src/bot:/opt/bot
    networks:
      - whisper-network
    # Поддержка NVIDIA GPU
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility

networks:
  whisper-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/16
